<ng-container *ngIf="user.rol == 'admin'">
  <input placeholder="nombre" [(ngModel)]="nombre" name="nombre">
  <input placeholder="fecha" type="date" [(ngModel)]="fecha" name="fecha">
  <input placeholder="sitio" [(ngModel)]="sitio" name="sitio">
  <input placeholder="tecnologia" [(ngModel)]="tecnologia" name="tecnologia">
  <button (click)="crearHackathon()">Crear Hackathon</button>
</ng-container>

<div id="wrapper">
  <div class="ui card" *ngFor="let hackathon of hackathones | keyvalue">
      <div class="content">
        <a class="header">{{hackathon.value.nombre}}</a>
        <div class="meta">
          <span class="date">{{hackathon.value.sitio}}</span>
        </div>
        <div class="description">
          {{ hackathon.value.tecnologia }}
        </div>
      </div>
      <div class="extra content">
        <a>
            {{hackathon.value.fecha}}
        </a>
      </div>
    </div>
<div>
