<div class="container-fluid">
  <div *ngIf="!fbS.currentUser">
    <app-login></app-login>
  </div>

  <ng-container *ngIf="fbS.currentUser">
    <div class="ui medium menu" style="border-radius: 0;">
      <a class="active item" routerLink="/">
        Home
      </a>
      <a class="item" routerLink="/ranking">
        Usuarios
      </a>
      <a class="item" (click)="signOut()">
        <i class="sign-out icon"></i>
        Sign Out
      </a>
    </div>
    <router-outlet></router-outlet>
  </ng-container>
</div>